{"model":"__RANDOM__","alive":1,"pos":[],"dir":[0,0,0],"up":[0,1,0],"items":[{"slot":"body","type":"__RANDOM__"},{"slot":"legs","type":"Jeans_Blue","items":[{"slot":"supply","type":"Tool_Flashlight"},{"slot":"supply","type":"Consumable_Battery9V","state":{"vars":{"power":30000}}}]},{"slot":"feet","type":"AthleticShoes_Green"}],"state":{"vars":{"exposure":0,"modifiers":["Hunger"],"modstates":[[[0],-1,150]],"bloodtype":"__RANDOM__","blood":5000,"health":5000,"shock":0,"energy":1000,"water":1798.96,"stomach":992,"diet":0.5,"unconscious":false,"mynotifiers":[false,false,false],"damagearray":[]}}}